/* form styling */
body::before{
    content:"";
    background-image: linear-gradient(rgb(17, 16, 16), dimgrey) ;
    background-size: cover;
    position: absolute;
    height: 113%;
    width: 100%;
    z-index: -1;
}
body{
    height: 50rem;
    color: bisque;
}
.myinput{
    display: block;
    width: 30rem;
    font-size: x-large;
    padding:1rem 1rem;
    border-radius: 1rem;
    text-align: center;
    background:none;
    border:3px solid black;
    margin: 1rem auto;
     
}

#formaction{
    width:40rem  ;
    display: block;
    margin:  2rem auto;
    border: 5px solid black;
    padding: 1rem 1rem;
    border-radius: 2rem;
    background-image: linear-gradient(white, bisque);
}

#submitbtn{
    background-color: lightyellow;
    width: 10rem;
    font-weight: bold;
    cursor: pointer;

}

#submitbtn:hover{
    background-color: azure;
}